# ==========================================
# Variaveis do Banco de Dados PostgreSQL
# ==========================================
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# ==========================================
# Variaveis do pgAdmin
# ==========================================
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_PORT=

# ==========================================
# Variaveis da API Spring Boot
# ==========================================
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SERVER_PORT=
